;; See also
;; https://blog.gitbutler.com/how-git-core-devs-configure-git/

[alias]
  amend       = commit --amend
  ammend      = commit --amend
  br          = branch
  bra         = branch -a
  brc         = rev-parse --abbrev-ref HEAD
  brd         = branch -d
  brdf        = branch -D
  ch          = cherry
  ci          = commit
  cia         = commit -a
  co          = checkout
  cob         = checkout -b
  conflicts   = !emacsclient -t $(git diff --name-only --diff-filter=U)
  chp         = cherry-pick
  di          = diff
  diffc       = diff --cached --
  diffn       = diff --name-only
  idff        = diff
  last        = log -1 HEAD
  logp        = log --oneline --abbrev-commit --graph --decorate
  ls          = ls-remote .
  mine        = !git log --author=`git config user.email`
  rba         = rebase --abort
  rbc         = rebase --continue
  recent      = log --oneline -10
  sha         = rev-parse HEAD
  softrm      = rm --cached --
  softrmdir   = rm --cached -r --
  st          = status
  sync       = !reposync
  undo        = reset --soft HEAD~1
  unstage     = reset HEAD --

[branch]
  autosetuprebase = remote
  sort = -committerdate

[core]
  editor = nvim
  excludesfile = ~/.gitignore.global
  fsmonitor = true
  pager = delta
  untrackedCache = true

[color]
  status = auto
  interactive = auto
  grep = auto
  branch = auto
  diff = auto
  ui = true

[commit]
  gpgsign = true
  verbose = true

# maybe: villsau zebra-dark
# meh?: collared-trogon  calochortus-lyallii
# almost, but no: chameleon mantis-shrimp matis-shrimp-lite woolly-mammoth
#

[delta]
  features = villsau
  navigate = true  # use n and N to move between diff sections
  light = false
  dark = true
  side-by-side = false


[delta "default"]
    line-numbers = true

[delta "magit"]
    line-numbers = false

[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true

[fetch]
  prune = true
  pruneTags = true
  all = true

[filesystem "AdoptOpenJDK|1.8.0_232|/dev/disk1s2"]
  timestampResolution = 1001 milliseconds
  minRacyThreshold = 0 nanoseconds

[filter "lfs"]
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f

[filter "media"]
  clean = git-media-clean %f
  smudge = git-media-smudge %f

[github]
  user = localshred

[gpg]
  format = ssh

# See https://blog.1password.com/git-commit-signing/
# See https://calebhearth.com/sign-git-with-ssh
[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
  allowedSignersFile = /Users/bj/.ssh/allowed_signers

[help]
  autoCorrect = prompt

[include]
  path = ~/code/src/utilities/dotfiles/delta-themes.gitconfig

[init]
  defaultBranch = main

[interactive]
  diffFilter = delta --color-only --features=interactive

[merge]
  conflictstyle = zdiff3

[pager]

[pull]
  rebase = true

[push]
  default = current
  autoSetupRemote = true
  followTags = true

; [url "git@github.com:"]
; 	insteadOf = https://github.com/
; [url "git@bitbucket.org:"]
;  	insteadOf = https://bitbucket.org/
; [url "git@gitlab.com:"]
; 	insteadOf = https://gitlab.com/
[rebase]
  autoSquash = true
  autoStash = true
  stat = true
  updateRefs = true

[rerere]
  enabled = true
  autoupdate = true

[url "git@github.com:"]
  insteadOf = https://github.com/


[tag]
  gpgsign = true
  sort = version:refname

[user]
  name = BJ Neilsen
  email = bj.neilsen@gmail.com
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINiZrJmwtdHkKYQ+tnxXvuL+N9XPINq0lOL3ttTRz8aE
[pull]
	rebase = true
