{:aliases
 {:deps/check
  {:extra-deps {olical/depot {:mvn/version "1.8.4"}},
   :main-opts ["-m" "depot.outdated.main"]},
  :deps/upgrade
  {:extra-deps {olical/depot {:mvn/version "1.8.4"}},
   :main-opts ["-m" "depot.outdated.main --update"]},
  :deps/graph
  {:extra-deps {org.clojure/tools.deps.graph {:mvn/version "0.1.14"}},
   :main-opts ["-m" "clojure.tools.deps.graph"]}
  :deps/tools
  {:extra-deps {deps/tools {:local/root "/Users/nolan/dev/deps.tools"}}}}}
