{auth-api/ion {:local/root "/Users/bj/code/src/nuid/auth-api/datomic/ion" :git/url "git@github.com:nuid/auth-api.git"}
 ethereum-registration.lambda/process-registrations {:local/root "/Users/bj/code/src/nuid/ethereum-registration/lambda/process-registrations" :git/url "git@github.com:nuid/ethereum-registration.git"}
 fm/fm {:local/root "/Users/bj/code/src/nuid/fm" :git/url "https://github.com/nolan330/fm.git"}
 nuid/auth-api {:local/root "/Users/bj/code/src/nuid/auth-api" :git/url "git@github.com:nuid/auth-api.git"}
 nuid/aws {:local/root "/Users/bj/code/src/nuid/aws" :git/url "git@github.com:nuid/aws.git"}
 nuid/base64 {:local/root "/Users/bj/code/src/nuid/base64" :git/url "https://github.com/nuid/base64.git"}
 nuid/bn {:local/root "/Users/bj/code/src/nuid/bn" :git/url "https://github.com/nuid/bn.git"}
 nuid/browser {:local/root "/Users/bj/code/src/nuid/browser" :git/url "git@github.com:nuid/browser.git"}
 nuid/bytes {:local/root "/Users/bj/code/src/nuid/bytes" :git/url "https://github.com/nuid/bytes.git"}
 nuid/codec {:local/root "/Users/bj/code/src/nuid/codec" :git/url "https://github.com/nuid/codec.git"}
 nuid/credential {:local/root "/Users/bj/code/src/nuid/credential" :git/url "https://github.com/nuid/credential.git"}
 nuid/cryptography {:local/root "/Users/bj/code/src/nuid/cryptography" :git/url "https://github.com/nuid/cryptography.git"}
 nuid/datalog {:local/root "/Users/bj/code/src/nuid/datalog" :git/url "git@github.com:nuid/datalog.git"}
 nuid/datomic {:local/root "/Users/bj/code/src/nuid/datomic" :git/url "git@github.com:nuid/datomic.git"}
 nuid/elliptic {:local/root "/Users/bj/code/src/nuid/elliptic" :git/url "https://github.com/nuid/elliptic.git"}
 nuid/ethereum {:local/root "/Users/bj/code/src/nuid/ethereum" :git/url "https://github.com/nuid/ethereum.git"}
 nuid/exception {:local/root "/Users/bj/code/src/nuid/exception" :git/url "https://github.com/nuid/exception.git"}
 nuid/hex {:local/root "/Users/bj/code/src/nuid/hex" :git/url "https://github.com/nuid/hex.git"}
 nuid/lib {:local/root "/Users/bj/code/src/nuid/lib" :git/url "https://github.com/nuid/lib.git"}
 nuid/multiformats {:local/root "/Users/bj/code/src/nuid/multiformats" :git/url "https://github.com/nuid/multiformats.git"}
 nuid/repl {:local/root "/Users/bj/code/src/nuid/repl" :git/url "git@github.com:nuid/repl.git"}
 nuid/site {:local/root "/Users/bj/code/src/nuid/site" :git/url "https://github.com/nuid/site.git"}
 nuid/spec {:local/root "/Users/bj/code/src/nuid/spec" :git/url "https://github.com/nuid/spec.git"}
 nuid/transit {:local/root "/Users/bj/code/src/nuid/transit" :git/url "https://github.com/nuid/transit.git"}
 nuid/zk {:local/root "/Users/bj/code/src/nuid/zk" :git/url "https://github.com/nuid/zk.git"}
 portal.lambda/register-with-nuid {:local/root "/Users/bj/code/src/nuid/portal/lambda/register-with-nuid" :git/url "git@github.com:nuid/portal.git"}
 portal/browser {:local/root "/Users/bj/code/src/nuid/portal/browser" :git/url "git@github.com:nuid/portal.git"}
 portal/ion {:local/root "/Users/bj/code/src/nuid/portal/datomic/ion" :git/url "git@github.com:nuid/portal.git"}
 nuid.portal/lib {:local/root "/Users/bj/code/src/nuid/portal" :git/url "git@github.com:nuid/portal.git"}}
